*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    display: flex;
    justify-content: space-between;
    nav{
        display: inline-block;
        ul{
            display: flex;
            justify-content: space-evenly;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                }
            }
        }
       
    }
}