@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    //font-size: 16px;
    font-family: 'Rubik', sans-serif;
}
.button{
    border: none;
    color:white;
    padding:10px;
    border-radius:5px;
    cursor: pointer;
    -webkit-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
    -moz-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
    box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
    &:hover{
        background-color: white;
    }
}
p{
    line-height: 1.5rem;
    color:hsl(229, 8%, 60%);
}
.button-blue{
    background-color:hsl(231, 69%, 60%);
    border:1px solid hsl(231, 69%, 60%);
    &:hover{
        color:hsl(231, 69%, 60%);
    }
}
.button-gray{
    color: black;
    font-weight: 500;
    border: 1px solid #efefef;
}
.button-red{
    background-color:hsl(0, 94%, 66%);
    border: 1px solid hsl(0, 94%, 66%);
    &:hover{
        color: hsl(0, 94%, 66%);
    }
}

header{
    display: flex;
    justify-content: space-between;
    margin: 2rem 4rem;
    nav{
        display: inline-block;
        ul{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .login{
                background-color: hsl(0, 94%, 66%);
                border-radius: 5px;
                border: 1px solid hsl(0, 94%, 66%);
                -webkit-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
                -moz-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
                box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
               
                a{
                    color:white;
                    padding: 7px 15px;
                }
                &:hover{
                    border: 1px solid hsl(0, 94%, 66%);
                    background-color: white;
                    color:hsl(0, 94%, 66%)
                }
            }
            li{
                list-style: none;
                margin-right: 2rem;
                padding: 5px;
                a{
                    text-decoration: none;
                    text-transform: uppercase;
                    color:black;
                    &:hover{
                        color:hsl(0, 94%, 66%);
                    }
                }
                
            }
        }
       
    }
}
.inner__header{
    margin-top: 5rem;
    margin-bottom:10rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .about{
        margin: 6rem auto;
        h1{
            font-weight: bold;
            text-transform: capitalize;
            margin-bottom: 1rem;
            
        }
        p{
            font-weight: 100;
            color:hsl(229, 8%, 60%);
        }
        .download{
            margin-top: 1.5rem;
            &>*{
                margin-right:1rem;
            }
        }
    }
   .inner__image{
        img{
            position: absolute;
            margin: 0 0 3rem 0;
        }
        div{
            background-color: hsl(231, 69%, 60%);
            height: 90%;
            border-bottom-left-radius: 10rem;
            margin-left: 10rem;
            margin-top: 8rem;
        }
    }
    
}
.features{
    margin-bottom: 10rem;
    .features__head{
        text-align: center;
        h2{
            font-weight: 300;
            margin-bottom: 1rem;
        }
        p{
            color: hsl(229, 8%, 60%);
        }
    }
    .features__tab{
        margin-top: 1rem;
        ul{
            display: flex;
            margin: 0 auto;
            justify-content: center;
            
            li{
                list-style:none;
                padding: 1.5rem 2rem;
                border-bottom: 1px solid hsl(229, 8%, 60%);
                cursor: pointer;
                &:hover{
                    color:hsl(0, 94%, 66%);
                }
                &:first-child{
                    border-bottom: 4px solid hsl(0, 94%, 66%);
                }
            }
        }
    
    }
    .inner__feature{
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        .inner__image{
            img{
                position: absolute;
                margin: 0 0 0 5rem;
            }
            div{
                background-color: hsl(231, 69%, 60%);
                height: 90%;
                border-bottom-right-radius: 10rem;
                margin-right: 10rem;
                margin-top: 8rem;
            }
        }
        .about{
            margin: 6rem auto;
            p{
                color: hsl(229, 8%, 60%);
                margin-top:1rem;
            }
            button{
                margin-top: 1rem;
            }
        }
    }
}
.download__extension{
    .download__extension__head{
        text-align: center;
        p{
            color: hsl(229, 8%, 60%);
            margin-top: 1rem;
        }
    }
    .add__to__browser{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        .firefox{
            margin-top: 3rem;
        }
        .opera{
            margin-top: 6rem;
        }
        div{
            -webkit-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
            -moz-box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
            box-shadow: 0px 6px 23px -5px rgba(0,0,0,0.18);
            padding: 2rem;
            margin: 1.5rem;
            display: grid;
            justify-content: center;
            border-radius: 5px;
            height: 100%;
           
            img,h4,p,button{
                justify-self: center;
                margin-top: 1rem;
            }
            span{
                border: 1.5rem hsl(229, 8%, 60%);
                display: block;
            }
            img{
               width: 5rem;
               display: flex;
            }
        }
    }
}
.faq{
    margin-top: 1rem;
    .faq__inner__head{
        text-align: center;
        p{
            margin-top: 1rem;
        }
    }
    .questions{
        max-width: 50%;
        width: auto;
        margin: 2rem auto;
        .question{
            padding: 1rem;
            border-bottom:1px solid hsl(229, 8%, 60%);
            &:first-of-type{
                border-top: 1px solid hsl(229, 8%, 60%);
            }
            .inner__head{
                h4{
                    font-weight: 400;
                }
                img{
                    cursor: pointer;
                }
                display: flex;
                justify-content: space-between;
                align-items: center;
               
            }
        }
        
    }
    .more-info{
        display: flex;
        justify-content: center;
    }
}
.up__to__date{
    background-color: hsl(231, 69%, 60%);
    color: white;
    text-align: center;
    margin-top: 2rem;
    padding: 2rem;
    h3,h4{
        padding: 1rem;
    }
    h4{
        font-weight: 300;
        text-transform: capitalize;
    }
    h3{
        font-weight: 500;
    }
    input[type="email"]{
        color: hsl(229, 8%, 60%);
        padding-right: 4rem;
        margin-top:1rem;
    }
    input[type="submit"]{
        margin-left:1rem;
    }
}
footer{
    background-color:hsl(229, 31%, 21%);
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    .left__side{
        display: flex;
        &>*{
            margin-right:1rem
        }
        ul{
            display: flex;
            align-self: center;
            li{
                list-style: none;
                a{
                    text-decoration: none;
                    color: white;
                    text-transform: uppercase;
                    margin-left: 1.5rem;
                    &:hover{
                        color:hsl(0, 94%, 66%)
                    }
                }
            }
        }
    }
    
    .socials{
        right: 0;
        img{
            margin-left: 1rem;
            
        }
    }
}
@media only screen and (max-width: 375px) {
    body {
     display: none;
    }
  }
 