@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  font-family: 'Rubik', sans-serif; }

.button {
  border: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer; }
  .button:hover {
    background-color: white; }

p {
  line-height: 1.5rem;
  color: #9194a1; }

.button-blue {
  background-color: #5368df;
  border: 1px solid #5368df; }
  .button-blue:hover {
    color: #5368df; }

.button-gray {
  color: black;
  font-weight: 500;
  border: 1px solid #efefef; }

header {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem; }
  header nav {
    display: inline-block; }
    header nav ul {
      display: flex;
      justify-content: space-evenly;
      align-items: center; }
      header nav ul .login {
        background-color: #fa5757;
        border-radius: 5px;
        border: 1px solid #fa5757; }
        header nav ul .login a {
          color: white;
          padding: 7px 15px; }
        header nav ul .login:hover {
          border: 1px solid #fa5757;
          background-color: white;
          color: #fa5757; }
      header nav ul li {
        list-style: none;
        margin-right: 2rem;
        padding: 5px; }
        header nav ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: black; }
          header nav ul li a:hover {
            color: #fa5757; }

.inner__header {
  margin-top: 5rem;
  margin-bottom: 10rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .inner__header .about {
    margin: 6rem auto; }
    .inner__header .about h1 {
      font-weight: bold;
      text-transform: capitalize;
      margin-bottom: 1rem; }
    .inner__header .about p {
      font-weight: 100;
      color: #9194a1; }
    .inner__header .about .download {
      margin-top: 1.5rem; }
      .inner__header .about .download > * {
        margin-right: 1rem; }
  .inner__header .inner__image img {
    position: absolute;
    margin: 0 0 3rem 0; }
  .inner__header .inner__image div {
    background-color: #5368df;
    height: 90%;
    border-bottom-left-radius: 10rem;
    margin-left: 10rem;
    margin-top: 8rem; }

.features {
  margin-bottom: 10rem; }
  .features .features__head {
    text-align: center; }
    .features .features__head h2 {
      font-weight: 300;
      margin-bottom: 1rem; }
    .features .features__head p {
      color: #9194a1; }
  .features .features__tab {
    margin-top: 1rem; }
    .features .features__tab ul {
      display: flex;
      margin: 0 auto;
      justify-content: center; }
      .features .features__tab ul li {
        list-style: none;
        padding: 1.5rem 2rem;
        border-bottom: 1px solid #9194a1; }
  .features .inner__feature {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr); }
    .features .inner__feature .inner__image img {
      position: absolute;
      margin: 0 0 0 5rem; }
    .features .inner__feature .inner__image div {
      background-color: #5368df;
      height: 90%;
      border-bottom-right-radius: 10rem;
      margin-right: 10rem;
      margin-top: 8rem; }
    .features .inner__feature .about {
      margin: 6rem auto; }
      .features .inner__feature .about p {
        color: #9194a1;
        margin-top: 1rem; }
      .features .inner__feature .about button {
        margin-top: 1rem; }

.download__extension .download__extension__head {
  text-align: center; }
  .download__extension .download__extension__head p {
    color: #9194a1;
    margin-top: 1rem; }

.download__extension .add__to__browser {
  display: flex;
  justify-content: center;
  margin-top: 2rem; }
  .download__extension .add__to__browser .firefox {
    margin-top: 3rem; }
  .download__extension .add__to__browser .opera {
    margin-top: 6rem; }
  .download__extension .add__to__browser div {
    -webkit-box-shadow: 0px 6px 23px -5px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 6px 23px -5px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 6px 23px -5px rgba(0, 0, 0, 0.18);
    padding: 2rem;
    margin: 1.5rem;
    display: grid;
    justify-content: center;
    border-radius: 5px;
    height: 100%; }
    .download__extension .add__to__browser div img, .download__extension .add__to__browser div h4, .download__extension .add__to__browser div p, .download__extension .add__to__browser div button {
      justify-self: center;
      margin-top: 1rem; }
    .download__extension .add__to__browser div span {
      border: 1.5rem #9194a1;
      display: block; }
    .download__extension .add__to__browser div img {
      width: 5rem;
      display: flex; }

.faq {
  margin-top: 1rem; }
  .faq .faq__inner__head {
    text-align: center; }
    .faq .faq__inner__head p {
      margin-top: 1rem; }
